
# Environment Variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# VS Code
.vscode/

# Project Data (Optional - Keep this if you want to ignore local data)
# neo4j_data/
# neo4j_logs/
# output.json